<!--
  This template loads for the 'tab.biblioteka-detail' state (app.js)
  'knjiga' is a $scope variable created in the BibliotekaCtrl controller (controllers.js)
  The BibliotekaCtrl pulls data from the BibliotekaList service (service.js)
  The BibliotekaList service returns an array of knjiga and people associated with them
-->
<ion-view>
	<ion-nav-title>{{knjiga.name}}</ion-nav-title>
	<ion-content class="padding">
		
		<!--p>
			Knjiga {{knjiga.name}}
		</p>
		<p>
			Knjiga {{knjiga.source}}
		</p-->
		
		<pdf-viewer delegate-handle="my-pdf-container" url="pdfUrl" scale="0.75" show-toolbar="true"></pdf-viewer>
		
	</ion-content>
</ion-view>
