<ion-modal-view>
	<ion-header-bar class="bar-dark cust-nav-bar background buttons" align-title="center">
		<div class="navbar-title title title-center header-item modal-title">{{person.ime}} {{person.prezime}}</div>
		<div class="buttons button-right">
			<button class="button icon ion-close-round" ng-click="closeModal()"></button>
		</div>
	</ion-header-bar>
	<ion-content class="padding has-header screen-background">
		<div class="row">
			<div class="col">
				<!--ne trebaju ovi podaci
				<div class="list card">
					<div class="row item item-divider cust-item-divider sub-header-detail">
						<div class="col col-50 details-grid">Mjesto rođenja</div>
						<div class="col col-50 details-grid">Godina rođenja</div>
					</div>
					<ion-list>
						<ion-item class="item-accordion">
							<div id="birth-row" class="row item-text-wrap button-bar">
								<div class="col col-50">{{person.mjestoRod}}</div>
								<div class="col col-50 cell-border">{{person.godRod}}</div>
							</div>
						</ion-item>
					</ion-list>
					<div class="row item item-divider cust-item-divider sub-header-detail">
						<div class="col col-50 details-grid">Mjesto smrti</div>
						<div class="col col-50 details-grid">Godina smrti</div>
					</div>
					<ion-list>
						<ion-item class="item-accordion">
							<div id="birth-row" class="row item-text-wrap button-bar">
								<div class="col col-50">{{person.mjestoPrem}}</div>
								<div class="col col-50 cell-border">{{person.godPrem}}</div>
							</div>
						</ion-item>
					</ion-list>
				</div>
				-->
				<div ng-show="itemToDisplay">
					<!--{{itemToDisplay}}-->
					<div class="list card" ng-if="itemToDisplay.image != ''">
						<div id="image-top-item" class="item">
							<img class="image-top" ng-src="{{itemToDisplay.image}}">
						</div>
					</div>
					<div class="list card" ng-if="itemToDisplay.misc != ''">
						<div class="item item-body">
							<p>
							  {{itemToDisplay.misc}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ion-content>
</ion-modal-view>