<ion-view view-title="Lanterne">
	<ion-nav-buttons side="right">
        <!-- un-comment to enable for some future use if neccessary -->
		<button class="button button-clear ion-navicon-round" ng-click="showPopup()"></button>
    </ion-nav-buttons>
	
	<ion-content class="padding">
		<h2>App Home page</h2>
		
    	<p>
			<a class="button icon icon-right" href="#/tab/lanterne">Lanterne</a>
		</p>
		<p>
			<a class="button icon icon-right" href="#/tab/svjetionicari">Svjetioničari</a>
		</p>
	</ion-content>
</ion-view>
