<ion-view view-title="Lanterne">
	<ion-nav-buttons side="right">
        <!-- un-comment to enable for some future use if neccessary -->
		<button class="button button-clear ion-navicon-round" ng-click="showPopup()"></button>
    </ion-nav-buttons>
	
	<ion-content class="padding" >
		
		<div id="home-div-top" class="list card">
			<div class="row responsive-sm">
				<div class="col">
					<div class="home-col">
						<div class="col col-100 image-div">
							<img src="img/svjetionicari/ZERAVICA_ANTE.jpg">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="home-div-bottom" class="list card">
			<div class="row responsive-sm">
				<div class="col col-33">
					<div class="home-col">
						<!--a class="button home-button" href="#/tab/lanterne">
							<img class="img-responsive" src="../img/svjetionik-home.jpg">
							<p>Lanterne</p>
						</a-->
						<a class="col col-100 button button-calm home-button" href="#/tab/lanterne">
							<p>Svjetionici</p>
						</a>
					</div>
				</div>	
				<div class="col col-33">
					<div class="home-col">
						<!--a class="button home-button" href="#/tab/svjetionicari">
							<img class="img-responsive" src="../img/svjetionicari/BUDIJA_IVAN.jpg">
							<p>Svjetioničari</p>
						</a-->
						<a class="col col-100 button button-calm home-button" href="#/tab/svjetionicari">
							<p>Svjetioničari</p>
						</a>
					</div>
				</div>
				<div class="col col-33">
					<div class="home-col">
						<!--a class="button home-button" href="#/tab/biblioteka">
							<img class="img-responsive" src="../img/biblioteka-home.jpg">
							<p>Biblioteka</p>
						</a-->
						<a class="col col-100 button button-calm home-button" href="#/tab/biblioteka">
							<p>Biblioteka</p>
						</a>
					</div>
				</div>
			</div>
		</div>
		
		<!--div class="fill-vertical-space">
			<div class="row">
				<a class="col col-100 section button button-calm home-button" href="#/tab/lanterne">
					<h2>Svjetionici</h2>
				</a>
			</div>
			<div class="row">
				<a class="col col-100 section button button-calm home-button" href="#/tab/svjetionicari">
					<h2>Svjetioničari</h2>
				</a>
			</div>
			<div class="row">
				<a class="col col-100 section button button-calm home-button" href="#/tab/biblioteka">
					<h2>Biblioteka</h2>
				</a>
			</div>
		</div-->
		    	
	</ion-content>
</ion-view>
