<ion-view view-title="Biblioteka">
	<ion-content>
		<h2>Bibilioteka Home</h2>
		
		<ion-list>
			<ion-item class="item-remove-animate item-icon-right" ng-repeat="knjiga in knjige | orderBy: 'name'" type="item-text-wrap" href="#/tab/biblioteka-list/{{knjiga.name}}">
			<!--ion-item class="item-remove-animate item-icon-right" ng-repeat="knjiga in knjige | orderBy: 'name'" type="item-text-wrap"-->
				<h2 class="list-item-title-center">
					<div class="list-item-title">
						{{knjiga.name}}
					</div>
				</h2>
				<!--p>{{svjetionicar.prezime}}</p-->
				<i class="icon ion-chevron-right icon-accessory"></i>
			</ion-item>
		</ion-list>
		<!--p>
			<a class="button icon icon-right ion-chevron-right" href="#/tab/svjetionicari-list">Display All</a>
		</p-->
		
		 <!--div id="search-bar">
			<div class="item item-input-inset">
				<label class="item-input-wrapper" id="search-input">
					<i class="icon ion-search placeholder-icon"></i>
					<input type="text" placeholder="Search" ng-model="query" ng-change="search(query)">
				</label>
			</div>
		</div-->
	</ion-content>
</ion-view>
