<!--
  This template loads for the 'tab.lanterne-detail' state (app.js)
  'lanterna' is a $scope variable created in the LanterneCtrl controller (controllers.js)
  The LanterneCtrl pulls data from the LanterneList service (service.js)
  The LanterneList service returns an array of lanterne and people associated with them
-->
<ion-view>
	<ion-nav-title>{{svjetionik.name}}</ion-nav-title>
	
	<!--ion-nav-buttons side="left">
		<button class="button back-button buttons button-clear header-item" ng-click="goBack()">
			<i class="icon ion-android-arrow-back"></i> 
		</button>
	</ion-nav-buttons-->

	
		
		<div class="row responsive-lg">
			<div>
			<ion-content class="padding has-tabs-bottom has-footer col col-50" scroll="false">
			<!--div class="col col-50"-->
				<div class="list card">
					<div id="image-top-item" class="item">
						<img class="image-top" ng-src="{{svjetionik.image}}">
					</div>
				</div>
			<!--/div-->
			</ion-content>
			</div>
			
			<div>
			<ion-content class="padding has-tabs-bottom has-footer col col-offset-50 col-50" scroll="true">
			<!--div class="col col-50"-->
				<!--ion-scroll delegate-handle="taskScroll" direction="y"-->
					<div class="list card">
						<div class="row item item-divider cust-item-divider sub-header-detail">
							<!--div class="col">Prethodni svjetionik</div>
							<div class="col">Dolazak</div-->
							<div class="col col-25">Prezime i ime</div>
							<!--div class="col">Odlazak</div>
							<div class="col">Slijedeći svjetionik</div-->
						</div>
						<ion-list>
							<div ng-repeat="person in svjetionik.svjetionicari">
								<!--ion-item class="item item-stable" ng-click="toggleGroup(person)" ng-class="{active : isGroupShown(person)}"-->
								<ion-item class="item item-stable" ng-click="toggleGroup(person)">
									<i class="icon" ng-class="isGroupShown(person) ? 'ion-minus' : 'ion-plus'"></i>
									&nbsp;
									{{person.prezime}} {{person.ime}}
								</ion-item>
								<ion-item class="item-accordion" ng-show="isGroupShown(person)">
									<div id="details-sub-header" class="row row-center item item-divider sub-header-detail">
										<div class="col col-20 details-grid">Prethodni svjetionik</div>
										<div class="col col-20 details-grid">Dolazak</div>
										<div class="col col-20 details-grid">Prezime i ime</div>
										<div class="col col-20 details-grid">Odlazak</div>
										<div class="col col-20 details-grid">Slijedeći svjetionik</div>
									</div>
									<div id="details-row" class="row item-text-wrap button-bar">
										<div class="width-20" ng-if="person.prevSvj != ''">
											<div class="col col-20"><a class="button button-calm" ng-href="{{person.prevSvj != '' ? '#/tab/lanterne-list/' + person.prevSvj : '#/tab/lanterne-list/' + svjetionik.name}}">{{person.prevSvj}}</a></div>
										</div>
										<div class="width-20" ng-if="person.prevSvj == ''">
											<div class="col col-20">{{person.prevSvj}}</div>
										</div>
										<div class="col col-20">{{person.dolazak}}</div>
										<div class="col col-20"><a class="button button-calm" ng-href="{{person.id != '' ? '#/tab/svjetionicari-list/' + person.id : '#/tab/lanterne-list/' + svjetionik.name}}">{{person.prezime}} {{person.ime}}</a></div>
										<div class="col col-20">{{person.odlazak}}</div>
										<div class="width-20" ng-if="person.nextSvj != ''">
											<div class="col col-20"><a class="button button-calm" ng-href="{{person.nextSvj != '' ? '#/tab/lanterne-list/' + person.nextSvj : '#/tab/lanterne-list/' + svjetionik.name}}">{{person.nextSvj}}</a></div>
										</div>
										<div class="width-20" ng-if="person.nextSvj == ''">
											<div class="col col-20">{{person.nextSvj}}</div>
										</div>
									</div>
									
									<!-- ne treba, za test div id="test-table">
										<div>cell lorem ipsum</div>
										<div></div>
										<div>c</div>
										<div>cell</div>
										<div>c</div>
									</div-->
								</ion-item>
							</div>
						</ion-list>
					</div>
				<!--/ion-scroll-->
			<!--/div-->
			</ion-content>
			</div>
		</div>
		
		<!--ion-list-->
			<!-- (un)comment ako bude trebalo (de)aktivirati link-->
			<!--ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="person in people track by $index" type="item-text-wrap" href="#/tab/svjetionicari-list/{{person.id}}"-->
			<!-- without link-->
			<!--ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="person in people" type="item-text-wrap"-->
				<!--img ng-src="{{sort.face}}"-->
				<!--h2>{{person.ime}} {{person.prezime}}</h2-->
				<!--i class="icon ion-chevron-right icon-accessory"></i-->
			<!--/ion-item-->
		<!--/ion-list-->
	</ion-content>
</ion-view>
