<ion-view view-title="Svjetionici">
	<!--ion-nav-buttons side="left">
		<button class="button back-button buttons button-clear header-item" ng-click="goBack()">
			<i class="icon ion-android-arrow-back"></i> 
		</button>
	</ion-nav-buttons-->
	
	<ion-content class="padding has-tabs-bottom has-footer">
		
		<div class="row responsive-lg">
			<div class="col col-50">
				<div class="list card">
					<div id="image-top-item" class="item">
						<img class="image-top" src="img/svjetionici/Punta-Peneda.jpg">
					</div>
				</div>
			</div>
			
			<div class="col col-50">
				<div class="list card">	
					<div class="item item-input-inset">
						<label id="svjetionik" name="svjetionik" class="item-input-wrapper">
							<input type="text" ng-model="svjetionik.name" placeholder="Svjetionik">
						</label>
					</div>
					
					<div class="item">
						<div>
							<center>
								<div class="">
									<button class="button ion-search button-calm padding left-col-button cust-button" ng-click="search()">
										Traži
									</button>
									<!-- ne koristi se 
									<button class="button button-calm padding right-col-button cust-button" ng-click="getAll()">
										Svi svjetionici
									</button>
									-->
								</div>
							</center>
						</div>
					</div>
					
					<!-- ostavi ako se ipak ide na posebnu stra nicu s listama p>
						<a class="button icon icon-right ion-chevron-right" href="#/tab/lanterne-list">Lanterne</a>
					</p-->
					
					<div ng-show="showResults">
						<!--div class="item">
							<h1>Popis svjetionika</h1>
						</div-->
						<!--ion-list>
							<ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="svjetionik in lanterne | orderBy : 'name'" type="item-text-wrap" href="#/tab/lanterne-list/{{svjetionik.name}}">
								<img class="cover-thumbnail" ng-src="{{svjetionik.image}}">
								<div id="item-name">
									{{svjetionik.name}}
								</div>
								<i class="icon ion-chevron-right icon-accessory"></i>
							</ion-item>
						</ion-list-->
						<!--ul ng-repeat="group in groups | groupBy:'category' | toArray:true | orderBy:min"-->
						<ion-list>
							<ul ng-repeat="(categoryId, value) in lanterne | groupBy:'categoryId'">
								<div class="item item-divider">
									<h1>{{categoryDesc}}</h1>
								</div>
								<ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="svjetionik in value | orderBy: 'name'" type="item-text-wrap" href="#/tab/lanterne-list/{{svjetionik.name}}">
									<img class="cover-thumbnail" ng-src="{{svjetionik.image}}">
									<div id="item-name">
										{{svjetionik.name}}
									</div>
									<i class="icon ion-chevron-right icon-accessory"></i>
								</ion-item>
							</ul>
							
						</ion-list>
					</div>
						
					<!--ne treba div ng-show="showAll" class="clearfix">
						<div class="item">
							<h1>Popis svjetionika</h1>
						</div>
						<ion-list>
							<ion-item class="item-remove-animate item-thumbnail-left item-icon-right" ng-repeat="svjetionik in lanterne | orderBy : 'name'" type="item-text-wrap" href="#/tab/lanterne-list/{{svjetionik.name}}">
								<img class="cover-thumbnail" ng-src="{{svjetionik.image}}">
								<div id="item-name">
									{{svjetionik.name}}
								</div>
								<i class="icon ion-chevron-right icon-accessory"></i>
							</ion-item>
						</ion-list>
					</div-->
				</div>
			</div>
		</div>
		
	</ion-content>
</ion-view>
